<%= render 'pages/home' %>
<div class="jumbotron center">
<% if user_signed_in? %>

<div id="box">
<table>
  <thead>
    <tr>
      <th>League name</th>
      <th>Buy In Amount</th>
      <th>Number of players bought in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.league_name %></td>
        <td><%= league.buy_in_amount %></td>
        <td><%= '#' %></td>
        <td><%= link_to 'Show', league %></td>
        <td><%= link_to 'Edit', edit_league_path(league) %></td>
        <td><%= link_to 'Delete', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br
</div>

<% end %>
